@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1b1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .sidebar-icons {
    @apply relative mx-auto mb-2 mt-2 flex h-12 w-12 cursor-pointer flex-col items-center justify-center text-2xl shadow-lg transition-all duration-150 ease-linear md:flex-row;
  }

  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md bg-gray-900 p-2 text-sm font-bold text-white shadow-md transition-all duration-100;
  }

  .card {
    @apply flex w-60 flex-col items-center rounded-3xl;
  }

  .card-title {
    @apply absolute top-0 flex h-full w-full scale-0 flex-col items-center justify-between rounded-3xl bg-black bg-opacity-90;
  }
}
